<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main-Page</title>
    <link rel="stylesheet" th:href = "@{/css/header.css}">
    <link rel="stylesheet" th:href = "@{/css/main-page.css}">
    <script>
        function testDatabaseConnection() {
            fetch('/users/testConnection')
                .then(response => response.text())
                .then(data => {
                    alert(data);
                });
        }
    </script>
</head>
<body>
    <header th:replace="~{layout :: header}"></header>

    <button class="main-page_button" onclick="testDatabaseConnection()" >CONNECT TO DATABASE</button>

</body>
</html>